* {
  margin: 0;
  padding: 0;
}

body {
  width: 90%;
  height: auto;
  padding: 5%;
  background-color: #1E8AD9;
  font-family: 'Nunito', sans-serif;
  font-size: 0.87rem;
}
header{
  position: fixed;
  top: 0;
  left:0;
  padding-top: 14px;
  z-index: 4;
  background-color: #1E8AD9;
}
header,
main {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main{
  margin-top: 9.5rem;
}

.logo {
  width: 5rem;
  cursor: pointer;
}

.navbar {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1.5rem 0 1rem 0;

}

.menu-hamburguer {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 10px;
}

.menu-hamburguer span {
  background-color: #86C4F3;
  height: 5px;
  width: 40px;
  margin: 4px 0;
}

.menu {
  position: fixed;
    top: 26%;
    left: 13.7%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #0e6cafce;
    padding: 1rem 0 1rem 0;
    display: none;
}

.menu a {
  display: block;
  margin: 15px 8px;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}

.menu a:hover {
  color: #ffd700;
}

.container_input {
  position: relative;
  display: inline-block;
}

.input_search {
  width: 7.5rem;
  height: 1.5rem;
  padding: 10px;
  border-radius: 50px;
  border: none;
  background-color: #86C4F3;
  outline: none;

}

.input_search:focus {
  border: 2px solid #F16D1C;
  padding-left: 2.5rem;
  color: white;
}

.input_search:not(:focus) {
  color: white;
  padding-left: 2.5rem;

}

.icon_lupa {
  width: 2rem;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

.icon_user,
.icon_shopping_cart {
  width: 2.8rem;
  height: auto;
}

.container_category{
  width: 100%;
  height: 18%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  z-index: 3;
  background-color: #1E8AD9;
}

.separator {
  width: 25rem;
  height: auto;
}

h1 {
  width: auto;
  height: auto;
  font-size: 2.5rem;
  color: #F16D1C;
}

.container-buttons {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.container-buttons>button {
  width: 5rem;
  height: auto;
  padding: 0.2rem;
  border-radius: 50px;
  border: none;
  background-color: #86C4F3;
  color: white;
  cursor: pointer;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

.container-buttons>button:hover {
  background-color: #46A6EA;
}

.container-buttons>button:active {
  background-color: #F16D1C;
  box-shadow: none;
  transform: translateY(1px);
}

.container-buttons>button:disabled {
  background-color: #D9D8D7;
  color: #F16D1C;
}

.container-cards {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin: 10.5rem 0 0.5rem 0;
  z-index: 1;
}


.container_product {
  width: 6.5rem;
  height: 6.5rem;
  position: relative;
  display: flex;
  justify-content: center;
}

.container_product>img {
  width: 100%;
  height: 100%;
  opacity: 70%;
  object-fit: contain;

}

.container_product::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: linear-gradient(to top, #0e6caf, transparent);
  z-index: 2;
}

.container_product>.container_tittle {
  width: 90%;
  height: 40%;
  font-size: 8px;
  position: absolute;
  top: 55%;
  color: white;
  z-index: 3;
  font-weight: bold;
  text-align: center;
}

.container_product>.container_tittle>h2{
  max-width: 100%;
  max-height: 80%;
  overflow-x: hidden;

}

footer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1E8AD9;
}

.container-icons {
  width: 70%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.container-icons>a>img {
  width: 1.5rem;
  height: auto;
  margin-top: 0.4rem;
}


footer {
  position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    z-index: 3;
}

.container-icons {
  display: flex;
  justify-content: center;
}

.container-icons a {
  margin: 0 10px;
}

.separator2 {
  position: fixed;
    left: 0;
    top: 53rem;
    transform: translateX(0%);
    width: 100%;
    height: auto;
    z-index: 3;
    background-color: #1E8AD9;

}

.fixed-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
