.modal{
    width: 90%;
    height: 100%;
    background-color:#f16e1ceb;
    opacity: 98%;
    color: #D9D8D7;
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
    position: fixed;
    top: 0;
    left: 0%;
    z-index: 5;
    padding: 5%;
  }
  
  .image{
    width: 10rem;
    height: auto;
    margin-top: 1.5rem;
  }
  
  .description{
    font-size: 20px;
    margin-bottom: 1rem;
  }
  
  .close{
    width: auto;
    height: auto;
    font-size: 25px;
    border-style: none;
    background-color: #46A6EA;
    position: relative;
    top: 2%;
    left: 40%;
    color: #fff;
    padding: 0.5rem;
    border-radius: 25%;margin-bottom: 2rem;
  }
  
  .price,.category{
    font-size: 25px;
    color: #0e6caf;
  }
  
  .add_to_cart{
    width: auto;
    height: auto;
    font-size: 25px;
    border-style: none;
    background-color: #46A6EA;
    color: #fff;
    padding: 1rem;
    border-radius: 25px;
  }
  