<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="cart.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet" />
    <title>Shopping cart</title>
</head>

<body>
    <header>
        <a href="../../index.html">
            <img class="return" src="return.png" alt="">
        </a>
        
        <img class="logo" src="logo.png" alt="" />
        <h2 class="shopping_cart">Shopping Cart</h2>

    </header>
    <main>
        <h3 class="statement">Articulos agregados al carrito</h3>

        <div class="container_products">
           
        </div>
        <h2 class="total">TOTAL: $0</h2>
        <button class="buy">Buy Now</button>
    </main>
    <script src="cart.js"></script>
</body>

</html>